body {
	background-color: #2b3035;
}
/*Nav Style*/
.navbar .logo-icon {
	width: 40px;
	height: 40px;
	margin-left: 0.5rem;
	border-radius: 99999px;
}
.nav-btn {
	margin-left: 1.5rem;
}
.navbar-brand {
	margin-bottom: -12px !important;
}
.navbar-buttons .btn {
	margin-top: 1rem;
	width: 136.5px;
	height: 38px;
	font-size: 1.2rem;
	font-weight: 700;
}
@media (max-width: 992px) {
	ul.navbar-nav {
		margin-left: 1rem !important;
	}
	.navbar-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.laguage-ddown.btn-group > .btn {
		margin-left: 0.5rem;
		margin-top: 0.5rem;
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
		align-content: space-between;
		justify-content: space-around;
		align-items: end;
	}
}
.language-icon {
	width: 50px;
	height: 20px;
}
.laguage-ddown.btn-group > .btn {
	padding-left: 0 !important;
	margin-left: 0.5rem;
}
